
@model List<UsersInRoleViewModel>


@{
    ViewData["Title"] = "AddOrRemoveUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var roleid = ViewData["id"] as string;
}


<form asp-action="AddOrRemoveUser" asp-route-id="@roleid">


    @for (int i = 0; i < Model.Count; i++)
    {
        <div class="form-group">
            <input asp-for="@Model[i].IsSelected" />
            <label asp-for="@Model[i].IsSelected"> @Model[i].UserName</label>

        </div>

        <input asp-for="@Model[i].UserId"  hidden />
        <input asp-for="@Model[i].UserName" hidden />


    }

    <input type="submit"  value="Update" class="btn btn-success" />
    <a asp-action="Edit"  class="btn btn-light">Cancel</a>

</form>


